<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8"/>
  <link th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
  <title>Home Page</title>
</head>
<body>
<div align="center">
  <h1>Welcome to the Customer Website</h1>
  <div sec:authorize="hasRole('ANONYMOUS')">
    <a role="button" type="button" class="btn btn-primary" th:href="@{/login}">Login</a>
    <a role="button" class="btn btn-primary" th:href="@{/register}">Register</a>
  </div>
  <div sec:authorize="hasAuthority('USER_ROLE')">
    <a role="button" type="button" class="btn btn-primary" th:href="@{/customer/dashboard}">Customer Dashboard</a>
  </div>
  <div sec:authorize="hasAuthority('ADMIN_ROLE')">
    <a role="button" type="button" class="btn btn-primary" th:href="@{/customer}">Admin Dashboard</a>
  </div>
  <div sec:authorize="isAuthenticated()">
    <form method="post" th:action="@{/logout}">
      <input type="submit" class="btn btn-danger" value="Logout"/>
    </form>
  </div>
  <br/><br/>
</div>
</body>
</html>